@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/*Utilities*/
.height_100vh {
  height: 100vh;
}
.bg_primarycolor {
  background-color: #f3d3b1;
}
.bg_primarycolor_shadow {
  background-color: #f3d3b1de;
}

/* Sign in */
.signIn {
  background-color: #f3d3b1;
}

/* Main*/
.main {
  background: url("/defaultbg2.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

/*aside*/

aside {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: relative;
}

aside .logo {
  margin: 30px auto;
}

aside .log_out {
  cursor: pointer;
  display:flex;
  margin:20px;
}

.log_out h3{
  margin-right:10px;
}


/*Camera*/
.webcam_container {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right:50%;
}

/* Room */
.room_container{
  height:80%;
}
.room{
  background: url("/defaultbg.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height:150px;
  cursor:pointer;
  border-radius: 50px;
  position:relative;
}

.room .tag{
  position:absolute;
  top:50%;
  color:white;
  padding:4px;
  border-radius:10px;
}

.room .tag.name{
  left:5%;
  background-color:black;
}
.room .tag.status{
  right:5%;
  background-color:#f3d3b1;
  color:black;
}