@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Quicksand', sans-serif;
  font-weight:400;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/*Utilities*/
.height_100vh {
  height: 100vh;
}
.bg_primarycolor {
  background-color: #f3d3b1;
}
.bg_primarycolor_shadow {
  background-color: #f3d3b1de;
}

/* Sign in */
.signIn {
  background-color: #f3d3b1;
}

/* Main*/
.main {
  background: url("/defaultbg2.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.main .main_bg{
 position:absolute;
 height:100vh;
 width:100vw;
}

/*aside*/

aside {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: relative;
}

aside .logo {
  margin: 30px auto;
}

aside .log_out {
  cursor: pointer;
  display:flex;
  margin:20px;
}

.log_out h3{
  margin-right:10px;
}


/*Camera*/
.webcam_container {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right:50%;
}

/* Room */


.room_container .colleagues_room{
  height:100%;
  overflow:auto;
}

.room{
  background: url("/defaultbg.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height:150px;
  cursor:pointer;
  border-radius: 50px;
  position:relative;
}

.room .background{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius:inherit;
}

.room .tag{
  position:absolute;
  top:50%;
  color:white;
  padding:4px;
  border-radius:10px;
}

.room .tag.name{
  left:5%;
  background-color:black;
}
.room .tag.status{
  right:5%;
  background-color:#f3d3b1;
  color:black;
}

/*Youtube*/
.youtube_container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:640px;
  height:390px;
}

.youtube_container .result{
  background-color:white;
  border-bottom: 1px solid black;
}

/*Videochat*/
.videochat_container {
  position: fixed;
  top: 1%;
  left: 16%;
} 

/* Toolbar */

.toolbar{
  position:absolute;
  top:100px;
  right:100px;
  width:150px;
  height:150px;
  background-color:#f3d3b1;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

/* .toolbar:hover {
  animation: spin 1s linear 1;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.toolbar .logo{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100px;
}

.toolbar .icon{
  position:absolute;
  width:40px;
  height:40px;
  border-radius:50%;
  background-color:#f3d3b1;
  cursor:pointer;
}

.toolbar .icon:hover{
  background-color:white;
}

.toolbar .camera_button{
  margin:10px;
}

.toolbar .icon.webcam{
  top:-25px;
}


.toolbar .icon.mp3{
  right:-20px;
}

.toolbar .icon.chat{
  left:-20px;
}

.toolbar .icon.upload{
  bottom:-25px;
}

/*chat*/
.main .chatbox{
  position: fixed;
  bottom: 20px;
  right:20px;
}

.chatbox .office_chat{
  background-color:#f3d3b1;
  border-radius:50px;
  padding:10px;
}

.chatbox .messagesbox{
  background-color:rgba(0, 0, 0, 0.359);
  border-radius:50px;
  padding:10px;
}

.chatbox .message{
  border-radius: 50px;
  margin: 10px 0;
  min-height:50px;
}

.chatbox .submit{
  padding:10px;
  border-radius:50px;
  padding:10px;
  margin-top:10px;
}

.chatbox form{
  padding:10px;
}

.chatbox .send_button{
  background-color:white;
  padding:10px;
  border-radius:50%;
}

.message p{
  padding:20px;
}

.chatbox .sent{
  background-color:#f3d3b1;
  text-align:left;
  margin-right:100px;
}

.chatbox .received{
  background-color:white;
  text-align:right;
  margin-left:100px;
}

