@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  box-sizing:border-box;
  color: rgb(var(--foreground-rgb));
  font-family: 'Quicksand', sans-serif;
  font-weight:400;
  background-color:#f3d3b1;
}

.loading{
  height:100vh;
  width:100vw;
  position:relative;
}

.loader {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*Utilities*/
.height_100vh {
  height: 100vh;
}
.bg_primarycolor {
  background-color: #f3d3b1;
}
.bg_primarycolor_shadow {
  background-color: #f3d3b1de;
}

/* Sign in */
.signIn {
  background-color: #f3d3b1;
}

/* Main*/

.main {
  background: url("/defaultbg2.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.main .main_bg{
 position:absolute;
 height:100vh;
 width:100vw;
}

.main_page{
height:100vh;
display:flex;
justify-content:center;
align-items:center
}
.main_page p{
  margin-bottom:10px;
}


/*aside*/

aside {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: relative;
  border-radius:20px;
}

aside .logo {
  margin: 30px auto;
}

aside .log_out {
  cursor: pointer;
  display:flex;
  margin:20px;
}

.log_out h3{
  margin-right:10px;
}

.toggle_availability {
  background-color: #854d0e;
  border-radius: 50px;
  text-align: center;
  color: white;
  cursor: pointer;
}

/*Camera*/
.webcam_container {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right:50%;
  cursor:grab;
}

/* Room */


.room_container .colleagues_room{
  height:100%;
  overflow:auto;
}

.room_label {
  text-align: center;
  
}

.room{
  background: url("/defaultbg.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height:150px;
  cursor:pointer;
  border-radius: 50px;
  position:relative;
}

.room .background{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius:inherit;
}

.room .tag{
  position:absolute;
  top:50%;
  color:white;
  padding:4px;
  border-radius:10px;
}

.room .tag.name{
  left:5%;
  background-color:black;
}
.room .tag.status{
  right:5%;
  background-color:#f3d3b1;
  color:black;
}

/*Youtube*/
.youtube_container{
  position: fixed;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color:white;
  padding:20px;
  cursor:grab;
  border-radius:20px;
  background-color: #f3d3b1;
}

.youtube_container .result{
  background-color:white;
  border-bottom: 1px solid black;
}

/*Videochat*/
.videochat_container {
  position: fixed;
  top: 1%;
  left: 16%;
  padding:20px;
  cursor:grab;
  border-radius:20px;
  background-color: #f3d3b1;
} 

.videochat_container .close{
  cursor:pointer;
  margin-bottom:10px;
}

/* Toolbar */

.toolbar{
  position:absolute;
  top:100px;
  right:100px;
  width:150px;
  height:150px;
  background-color:#f3d3b1;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

/* .toolbar:hover {
  animation: spin 1s linear 1;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.toolbar .logo{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100px;
}

.toolbar .icon{
  position:absolute;
  width:40px;
  height:40px;
  border-radius:50%;
  background-color:#f3d3b1;
  cursor:pointer;
}

.toolbar .icon:hover{
  background-color:white;
}

.toolbar .camera_button{
  margin:10px;
}

.toolbar .icon.webcam{
  top:-25px;
}


.toolbar .icon.gear{
  right:-20px;
}

.toolbar .icon.chat{
  left:-20px;
}

.toolbar .icon.video{
  bottom:-25px;
}

/* Options */

.options_modal {
  width: 90vw;
  height: 90vh;
  background-color: #f3d3b1;
  position: fixed;
  z-index: 15;
  top: 5%;
  left: 5%;
  border-radius: 50px;
  border: 1px solid #854d0e;
}

.close_modal_button {
  position: fixed;
  right: 10%;
  top: 10%;
  border-radius: 50%;
  border: 1px solid black;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
}
/*Selection bg in option*/

.bg_selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg_selection h2 {
  padding: 40px;
  font-weight: bold;
}

.bg_choices {
  width: 80%;
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  background-color: white;
  padding: 20px;
  border: 1px solid #854d0e;
  border-radius: 30px;
}

.bg_card_container {
  flex: 0 0 auto; /* Imposta la flessibilità delle card */
  width: 350px;
  height: 200px;
  border-radius: 50px;
  margin-right: 10px;
}

.bg_card_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

/*About in options*/
.about_selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_selection .checkbox{
  border-radius:20px;
}

.about_selection h2 {
  padding: 40px;
  font-weight: bold;
}

.about_selection .about_form textarea {
  border-radius:20px;
  color:black;
}

.about_selection .checkbox_selection{
flex-direction:column;
justify-content:center;
margin:10px;
}

.about_selection .about_form{
width:500px;
}

.modal_confirm_button {
  margin-top: 5px;
  padding: 8px;
  background-color: #854d0e;
  color: white;
  border-radius: 50px;
}

/*chat*/
.main .chatbox{
  position: fixed;
  bottom: 20px;
  right:20px;
  cursor:grab;
}

.chatbox .office_chat{
  background-color:#854d0e;
  border-radius:50px;
  padding:10px;
  color:white;
}

.chatbox .messagesbox{
  background-color:rgba(0, 0, 0, 0.359);
  border-radius:50px;
  padding:10px;
}

.chatbox .message{
  border-radius: 50px;
  margin: 10px 0;
  min-height:50px;
}

.chatbox .submit{
  padding:10px;
  border-radius:50px;
  padding:10px;
  margin-top:10px;
}

.chatbox form{
  padding:10px;
}

.chatbox .send_button{
  background-color:white;
  padding:10px;
  border-radius:50%;
}

.message p{
  padding:20px;
}

.chatbox .sent{
  background-color:#f3d3b1;
  text-align:left;
  margin-right:100px;
}

.chatbox .received{
  background-color:white;
  text-align:right;
  margin-left:100px;
}

/*Description*/

.main .description{
  position:absolute;
  top:10%;
  left:20%;
  cursor:grab;
  width:200px;
  height:200px;
}

.description .title{
  background-color:#854d0e;
  color:white;
  margin:10px;
  border-radius:50px;
  padding:10px;
}
.description .description_box{
  background-color:#f3d3b1;
  border-radius:50px;
  padding:20px;
  overflow:auto;
}

/*Canvas*/
.main .canvas{
  background-color:#f3d3b1;
}

.main .whiteboard_pointer{
  position:fixed;
  bottom:20px;
  left:50%;
  text-align:center;
}

.main .whiteboard_pointer h2{
  background-color:black;
  color:white;
  border-radius:50px;
  padding:20px;
  margin-top:10px;
}

.arrow_down{
  cursor:pointer
}