@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/*Utilities*/
.height_100vh {
  height: 100vh;
}
.bg_primarycolor {
  background-color: #f3d3b1;
}
.bg_primarycolor_shadow {
  background-color: #f3d3b1de;
}

/* Sign in */
.signIn {
  background-color: #f3d3b1;
}

/* Main*/
.main {
  background: url("/defaultbg1.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

/*aside*/

aside {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: relative;
}

aside .logo {
  margin: 30px auto;
}

aside .log_out {
  cursor: pointer;
  display:flex;
  margin:20px;
}

.log_out h3{
  margin-right:10px;
}


/*Camera*/
.webcam_container {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right:50%;
}

/* Room */
.room_container{
  height:80%;
}
.room{
  background: url("/defaultbg1.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height:150px;
  cursor:pointer;
  border-radius: 50px;
  position:relative;
}

.room .tag{
  position:absolute;
  top:50%;
  color:white;
  padding:4px;
  border-radius:10px;
}

.room .tag.name{
  left:5%;
  background-color:black;
}
.room .tag.status{
  right:5%;
  background-color:#f3d3b1;
  color:black;
}

/*Youtube*/
.youtube_container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videochat_container {
  position: fixed;
  top: 1%;
  left: 16%;
} 

/* Toolbar */

.toolbar{
  position:absolute;
  top:100px;
  right:100px;
  width:150px;
  height:150px;
  background-color:#f3d3b1;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid	#374151;
  transition: transform 0.5s;
  cursor:pointer;
}

/* .toolbar:hover {
  animation: spin 1s linear 1;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.toolbar .logo{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100px;
}

.toolbar .icon{
  position:absolute;
  width:40px;
  height:40px;
  border-radius:50%;
  background-color:white;
  border: 3px solid	#374151;
}

.toolbar .camera_button{
  margin:8px;
}

.toolbar .icon.webcam{
  top:-25px;
}


.toolbar .icon.mp3{
  right:-20px;
}

.toolbar .icon.chat{
  left:-20px;
}

.toolbar .icon.upload{
  bottom:-25px;
}

/*chat*/
.main .chatbox{
  position: fixed;
  bottom: 20px;
  right:20px;
}

.chatbox .sent{
  background-color:#f3d3b1;
}

.chatbox .received{
  background-color:white;
}
